// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


// Vuetify
@import '~vuetify/dist/vuetify.min.css';

// Material Design Icons
@import '~@mdi/font/css/materialdesignicons.min.css';

.card-container {
    background-color: #3f3e3e;
}