$c-white: #fff;
$c-black: #000;
$c-red-50: #73345e;
$c-red-25: #432958;
$c-back-50: #4c258b;
$c-back-25: #170c3d;
$c-navy: #0f0e3d;
$c-text: #8285a7;
$primary-gradient-start: #479fd9;
$primary-gradient-end: #6711df;
$c-background: #3f3e3e

